--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.0.0
torchvision>=0.15.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
bleach==6.2.0
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.1.8
exceptiongroup==1.3.1
fastapi==0.128.8
filelock==3.19.1
fsspec==2025.10.0
h11==0.16.0
idna==3.18
Jinja2==3.1.6
kaggle==1.7.4.5
MarkupSafe==3.0.3
mpmath==1.3.0
networkx==3.2.1
numpy==2.0.2
pillow==11.3.0
protobuf==6.33.6
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-multipart==0.0.20
python-slugify==8.0.4
requests==2.32.5
six==1.17.0
starlette==0.49.3
sympy==1.14.0
text-unidecode==1.3
torchvision==0.23.0
tqdm==4.68.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.39.0
webencodings==0.5.1
